body {
    background-color: #eee;
    color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    border: 2px solid #999;
    width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

header {

}

nav {

}

section {

}

aside {

}

footer {

}